/* .navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar-default {
  background: #fff;
  margin-bottom: 0 !important;
  border-color: #e7e7e7;
}

.text-right {
  text-align: right !important;
}

.bb-grey {
    border-bottom: 1px solid #ECECEC;
  }

  .py-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.font-300 {
  font-weight: 300;
}
.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.d-inline {
  display: inline !important;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.text-black {
  color: #3A3A3A;
}

.small-font {
  font-size: 14px;
}

.d-inline-block {
  display: inline-block !important;
}

.pt-5 {
  padding-top: 5px;
}

.d-flex {
  display: flex !important;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.mb-0 {
  margin-bottom: 0px;
} */